
/* css */
*, *::before, *::after {
  box-sizing: border-box;
  font-family: "Roboto";
  text-align: center;
  justify-content: center;
}
html{
  background-color: black;
  color: black;
  background: linear-gradient(-45deg, #000000, #D9D9D9, #5B9279, #5B9279);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;


}
body{
  background-color: black;
  color: black;
  font-family: "Roboto";
  font-weight: normal;
  font-size: 20px;
  align-items: center;
  justify-content: center;
  background: linear-gradient(-45deg, #000000, #D9D9D9, #5B9279, #5B9279);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
  padding-top: 5%;
  padding-bottom: 5%;


}

.mainImage {
  max-width: 350px;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.mainImage{
  text-align: center;
  text-align: center;
  vertical-align: middle;

}

.container{
  width: 800px;
  color: black;
  font-size: 30px;

}

/* .center {
  display: none;
  padding:0 200px;
  outline: none;

} */
.button{
  display: flex;
  justify-content: center;
  padding:0 280px;
  /* text-align: center;
  vertical-align: middle; */
}
.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin-top: 20px;
  /* text-align: center;
  align-items: center; */
}

.btn {
  background-color: hsl(0, 0%, 85%);
  border: 1px solid hsl(0, 0%, 85%);
  border-radius: 5px;
  padding: 5px 10px;
  color: black;
  border-style: double;
  border-color:black;
  outline: none;
}

 h2{
  color: black;
  font-family: "Roboto";
  font-weight: bold;
  font-size: 35px;
  justify-content: center;
  text-align: center;


}



h3{
  font-family: "Roboto";
  text-align: left;
  color: black;
  font-weight: bold;
  font-size: 25px;


}

header{
  color: #8F8073;
  font-family: "Roboto";
  font-weight: bold;
  font-size: 60px;
  justify-content: center;
  padding:0 100px;

}

.subheader{
  color: #8F8073;
  font-family: "Roboto";
  font-weight: bold;
  font-size: 40px;
  padding:0 330px;

} */




/* text{
  background-color: black;
  color: black;
  font-family: "Roboto";
  font-weight: bold;
  font-size: 50px;
  text-align: center;
  vertical-align: middle;
  padding:0 200px;
  border-style: double;
  border-color:#5B9279; */

}
