
/* css */
*, *::before, *::after {
  box-sizing: border-box;
  font-family: "roboto";
  text-align: center;
  vertical-align: middle;
}
html{
  background-color: #12130F;
  color: #12130F;
  background: linear-gradient(-45deg, #000000, #D9D9D9, #5B9279, #5B9279);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;

}
body{
  background-color: black;
  color: black;
  font-family: "roboto";
  font-weight: normal;
  font-size: 20px;
  align-items:  center;
  justify-content: center;
  background: linear-gradient(-45deg, #000000, #D9D9D9, #5B9279, #5B9279);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;

}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.container{
  width: 800px;
  max-width: 80%;
  color: black;
  font-size: 30px;

}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  padding:0 200px;

}
.button{
  display: flex;
  justify-content: center;
  padding:0 280px;
  text-align: center;
  vertical-align: middle;
}

h2{
  color: #8F8073;
  font-family: "roboto";
  font-weight: bold;
  font-size: 50px;
  justify-content: center;
  padding:0 200px;

}

h3{
  color: #8F8073;
  font-family: "roboto";
  font-weight: bold;
  font-size: 100px;
  justify-content: center;
  padding:0 300px;

}

header{
  color: #8F8073;
  font-family: "roboto";
  font-weight: bold;
  font-size: 60px;
  justify-content: center;
  padding:0 100px;

}

.subheader{
  color: #8F8073;
  font-family: "roboto";
  font-weight: bold;
  font-size: 40px;
  padding:0 330px;

}
.character{
  color: #DADADA;
  font-family: "roboto";
  font-weight: bold;
  font-size: 20px;
  padding:0 330px;

}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin-top: 20px;
  text-align: center;
  align-items: middle;
}

.btn {
  background-color: hsl(0, 0%, 85%);
  border: 1px solid hsl(0, 0%, 85%);
  border-radius: 5px;
  padding: 5px 10px;
  color: black;
  border-style: double;
  border-color:black;
  outline: none;
}

text{
  background-color: black;
  color: black;
  font-family: "roboto";
  font-weight: bold;
  font-size: 50px;
  text-align: center;
  vertical-align: middle;
  padding:0 200px;
  border-style: double;
  border-color:#5B9279;

}
